{% extends "base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% block titulo %}Clientes{% endblock %}
<script src="https://unpkg.com/htmx.org@1.8.4"></script>
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <center><h3>Clientes</h3> </center>
                {% include 'snippets/show_messages.html' %}
            </div>
        </div>    
        <div class="row">
            <div class="col-6">                
                {# Search form #}
                <form hx-get="{% url 'venda' %}" 
                      hx-target="div.table-container" 
                      hx-swap="outerHTML"                     
                      class="form-inline">
                    {% crispy filter.form %}
                </form>
            </div>
        </div>
    </div>
        
    {# The actual table #}
    {% render_table table %}
{% endblock %}