{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block titulo %} Pagamento de Pedido {% endblock %}
{% block content %}
{% include 'snippets/show_messages.html' %}
<div class="card">
    <div class="bg-light p-1 border">
        Confirma Pagamento do Pedido:
    </div>
    
    <div class="p-1 border">
        <div class="row pt-1">
            <div class="col">                               
                    Pedido: {{pedido}}
            </div>
            <div class="col">                               
                Cliente: {{pedido.cliente.nome}}
            </div>            
        </div>
        <div class="row pt-1">
            <div class="col">                               
                Data do pedido: {{pedido.data_pedido}}
            </div>
            <div class="col">                               
                Valor total: {{total_pedido}}
            </div>            
        </div>  
    </div>
</div>
        
<div class="card">
    <div class="p-1 border">        
            <form method="POST" action="">     
                {% csrf_token %}
                {{ form.management }}     
                {% crispy form %}
                <input type="reset" class="btn btn-secondary" value="Cancelar" onclick="location.href='{% url 'pedidos' %}'">
                <input type="submit" class="btn btn-info" value="Confirmar">
            </form>   
            {% for hidden_field in form.hidden_fields %}     
                {{ hidden_field.errors }}
                {{ hidden_field }}
            {% endfor %}            
    </div>       
</div>

{% endblock %}