{% extends 'base.html' %}
{% load myfilters %}

{% block content %} 
<style>
    .imagem {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width:200px;
        max-height:200px;
        width:auto;
        height:auto;
        border: 0;
    }
</style>
<div class="row ml-3"> 
    <div class="col">
            {% for produto in produtos %}
                {% if produto.produto.imagem %}                
                    <img class="imagem" src="{{ produto.produto.imagem.url }}" alt="{{ produto.nome }}" >               
                {% endif %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="pid" value={{ produto.produto.id }}>
                        
                            <h5>{{ produto.produto }}</h5>
                            {% if produto.produto.tipo == 0 %}
                                    {{ produto.preco|formata_preco }}                                                 
                            {% else %}
                                    Empréstimo
                            {% endif %}
                            <span class="ml-3">
                            {% if produto.produto.id in carrinho %}
                            <input type="number" name="qtd" id="quantity" min="0" max="999" value="{{ carrinho|keyvalue:produto.produto.id }}" style="min-width:10%;max-width:25%;"/>
                            {% else %}
                            <input type="number" name="qtd" id="quantity" min="0" max="999" value="0" style="min-width:10%;max-width:25%;"/>
                            {% endif %}
                            </span>
                        <button class="btn btn-primary m-1" type="submit"> 
                            Adicionar
                        </button>
                    </form>                    
            {% endfor %}
    </div>
</div>

{% comment %} 
<div class="row mt-3">
    <div class="col">
        {% include 'parciais/_pagination.html' %}
    </div>
</div> 
{% endcomment %}
{% endblock%}